<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tapahtumalistaus</title>
    <link rel="stylesheet" th:href="@{/css/bookstart.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
</head>
<body class="container mt-4">

    <h1>Tapahtumat</h1>

    <form th:action="@{/events/list}" method="get" class="mb-4">
        <div class="input-group">
            <input type="text" name="keyword" class="form-control" placeholder="Hae tapahtumaa nimellä tai kaupungilla" />
            <button type="submit" class="btn btn-outline-primary">Hae</button>
        </div>
    </form>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Nimi</th>
                <th>Paikka</th>
                <th>Kaupunki</th>
                <th>Päivämäärä</th>
                <th>Kuvaus</th>
                <th>Lippuja</th>
                <th>Toiminnot</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="event : ${events}">
                <td th:text="${event.eventName}"></td>
                <td th:text="${event.eventLocation}"></td>
                <td th:text="${event.eventCity}"></td>
                <td th:text="${event.eventDate}"></td>
                <td th:text="${event.eventDescription}"></td>
                <td th:text="${event.maxNumberOfTickets}"></td>
                <td>
                    <a th:href="@{'/tickettypes?eventId=' + ${event.eventId}}" class="btn btn-sm btn-outline-secondary me-2">Lipputyypit</a>
                    <a th:href="@{'/events/edit/' + ${event.eventId}}" class="btn btn-sm btn-outline-primary me-2">Muokkaa</a>
                    <a th:href="@{'/events/delete/' + ${event.eventId}}" class="btn btn-sm btn-outline-danger">Poista</a>
                </td>
            </tr>
        </tbody>
    </table>

    
    <a th:href="@{/events/add}" class="btn btn-success">Lisää uusi tapahtuma</a>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
